// ::after underline bar
@mixin wordState($color: trasparent) {
    content: "";
    background-color: $color;
    height: 0.3rem;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 3px;
    z-index: -10;
}

#words-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
}

span {
    font-size: 32px;
    display: inline-block;
    white-space: pre;
    position: relative;
}

.unknown::after {
    @include wordState(red);
}
.known::after {
    @include wordState(blue);
}
.learning::after {
    @include wordState(green);
}
.skipped {
    opacity: 0.6;
}
.skipped::after {
    @include wordState(gray);
}

// test
.word:hover {
    background-color: red;
    color: white;
}

textarea {
    width: 100%;
}
