<div id="words-container" (mouseup)="getNewWordBySelection()">
    <!-- <p>{{inputText}}</p> -->

    <hr>

    <!-- @for (word of wordList; track word.id) {
    @if (word.id) {
    <span (click)="setActiveWord(word.id)" [ngClass]="word.state">{{word.word}} </span>
    }
} -->
    <div>
        @for (item of outputText; track $index) {
        <span [ngClass]="setClassForWords(item)">{{item}}</span>
        }
    </div>
</div>
<textarea name="output-text" id="output-text" cols="30" rows="10" [(ngModel)]="inputText" (input)="getOutputText()">{{inputText}}</textarea>
<app-word-info [word]="activeWord" [newWord]="newWordToAdd"></app-word-info>
